In [2]:
import pandas as pd
import numpy as np
import requests

In [3]:
Census_2015 = pd.read_excel('Census population by Commune 2015.xlsx',sheet_name='2015',header=7,names=['COM','NAME','POP_15'])
france = pd.read_excel('France GeoIDs.xlsx')
scraped_geoids = pd.read_csv('matching_results.csv',index_col=0)
scraped_geoids.rename({'geonameid':'scraped_geoid'},axis = 1,inplace = True)

In [123]:
france = france[france['feature_code']=='ADM4']

In [124]:
Census_uniques = Census_2015.drop_duplicates(subset='NAME',keep = False)

In [125]:
Census_dups = Census_2015[Census_2015['NAME'].duplicated(keep = False)]

In [164]:
match_uniques = pd.merge(Census_uniques,france,how = 'left',left_on='NAME',right_on='name')

In [165]:
match_uniques = match_uniques[['COM','NAME','POP_15','geonameid','name','asciiname']]

In [166]:
match_uniques_nan = match_uniques[match_uniques['geonameid'].isnull()]

In [9]:
match_uniques_nan_joined = pd.merge(match_uniques_nan,scraped_geoids,how = 'left',left_on='NAME',right_on='city_names')

In [167]:
match_uniques_nan.loc[:,'scraped_name']=0
match_uniques_nan.loc[:,'scraped_population']=0
match_uniques_nan.loc[:,'scraped_geonameid']=0

//anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
//anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [11]:
#match_uniques_nan[match_uniques_nan['NAME']==match_uniques_nan['scraped_name']]

In [12]:
#match_uniques_nan['NAME']#==
#match_uniques_nan['scraped_name']

In [168]:
api_key='AIzaSyDr1wlpuQrUd4fz26B-hi9SJh4cAFEXP_8'
user_name = 'TerryYin1777'

In [169]:
match_uniques_nan = match_uniques_nan.reset_index()

In [49]:
np.sqrt(0.1)

0.31622776601683794

In [170]:
match_uniques_nan

,index,COM,NAME,POP_15,geonameid,name,asciiname,scraped_name,scraped_population,scraped_geonameid
0,0,01001,L' Abergement-Clémenciat,767,NaN,NaN,NaN,0,0,0
1,1,01002,L' Abergement-de-Varey,241,NaN,NaN,NaN,0,0,0
2,608,02281,L' Épine-aux-Bois,265,NaN,NaN,NaN,0,0,0
3,1389,04079,L' Escale,1408,NaN,NaN,NaN,0,0,0
4,1400,04095,L' Hospitalet,89,NaN,NaN,NaN,0,0,0
5,1509,05006,L' Argentière-la-Bessée,2307,NaN,NaN,NaN,0,0,0
6,1609,05139,Dévoluy,994,NaN,NaN,NaN,0,0,0
7,1693,06057,L' Escarène,2507,NaN,NaN,NaN,0,0,0
8,2195,08148,L' Écaille,259,NaN,NaN,NaN,0,0,0
9,2196,08149,L' Échelle,131,NaN,NaN,NaN,0,0,0
10,2477,09003,L' Aiguillon,420,NaN,NaN,NaN,0,0,0
11,2586,09138,L' Herm,204,NaN,NaN,NaN,0,0,0
12,2587,09139,L' Hospitalet-près-l'Andorre,89,NaN,NaN,NaN,0,0,0
13,3634,12115,L' Hospitalet-du-Larzac,289,NaN,NaN,NaN,0,0,0
14,4130,14334,L' Hôtellerie,311,NaN,NaN,NaN,0,0,0
15,4720,16166,L' Isle-d'Espagnac,5514,NaN,NaN,NaN,0,0,0
16,5027,17151,L' Éguille,879,NaN,NaN,NaN,0,0,0
17,5055,17190,L' Houmeau,2830,NaN,NaN,NaN,0,0,0
18,5607,19074,L' Église-aux-Bois,57,NaN,NaN,NaN,0,0,0
19,6016,21254,L' Étang-Vergy,213,NaN,NaN,NaN,0,0,0
20,6590,22203,Plœuc-L'Hermitage,4055,NaN,NaN,NaN,0,0,0
21,7617,25215,L' Écouvotte,93,NaN,NaN,NaN,0,0,0
22,7697,25305,L' Hôpital-du-Grosbois,586,NaN,NaN,NaN,0,0,0
23,7698,25306,L' Hôpital-Saint-Lieffroy,108,NaN,NaN,NaN,0,0,0
24,7707,25315,L' Isle-sur-le-Doubs,3078,NaN,NaN,NaN,0,0,0
25,8023,26051,Bézaudun-sur-Bîne,76,NaN,NaN,NaN,0,0,0
26,8553,27309,L' Habit,517,NaN,NaN,NaN,0,0,0
27,8579,27341,L' Hosmes,76,NaN,NaN,NaN,0,0,0
28,9663,2B134,L' Île-Rousse,3159,NaN,NaN,NaN,0,0,0
29,9910,30108,L' Estréchure,163,NaN,NaN,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...
161,31526,97306,Mana,10241,NaN,NaN,NaN,0,0,0
162,31527,97307,Matoury,32427,NaN,NaN,NaN,0,0,0
163,31528,97309,Remire-Montjoly,23976,NaN,NaN,NaN,0,0,0
164,31529,97310,Roura,3713,NaN,NaN,NaN,0,0,0
165,31530,97311,Saint-Laurent-du-Maroni,43600,NaN,NaN,NaN,0,0,0
166,31531,97312,Sinnamary,2957,NaN,NaN,NaN,0,0,0
167,31532,97313,Montsinéry-Tonnegrande,2473,NaN,NaN,NaN,0,0,0
168,31533,97314,Ouanary,165,NaN,NaN,NaN,0,0,0
169,31534,97352,Saül,150,NaN,NaN,NaN,0,0,0
170,31535,97353,Maripasoula,11856,NaN,NaN,NaN,0,0,0
171,31536,97356,Camopi,1769,NaN,NaN,NaN,0,0,0
172,31537,97357,Grand-Santi,6969,NaN,NaN,NaN,0,0,0
173,31538,97358,Saint-Élie,95,NaN,NaN,NaN,0,0,0
174,31539,97360,Apatou,8431,NaN,NaN,NaN,0,0,0
175,31540,97361,Awala-Yalimapo,1379,NaN,NaN,NaN,0,0,0
176,31541,97362,Papaichton,7266,NaN,NaN,NaN,0,0,0
177,31542,97401,Les Avirons,11148,NaN,NaN,NaN,0,0,0
178,31543,97402,Bras-Panon,12735,NaN,NaN,NaN,0,0,0
179,31544,97403,Entre-Deux,6781,NaN,NaN,NaN,0,0,0
180,31545,97404,L' Étang-Salé,14330,NaN,NaN,NaN,0,0,0
181,31546,97405,Petite-Île,12143,NaN,NaN,NaN,0,0,0
182,31547,97406,La Plaine-des-Palmistes,6157,NaN,NaN,NaN,0,0,0
183,31548,97408,La Possession,32720,NaN,NaN,NaN,0,0,0
184,31549,97413,Saint-Leu,33701,NaN,NaN,NaN,0,0,0
185,31550,97417,Saint-Philippe,5115,NaN,NaN,NaN,0,0,0
186,31551,97421,Salazie,7384,NaN,NaN,NaN,0,0,0
187,31552,97422,Le Tampon,76310,NaN,NaN,NaN,0,0,0
188,31553,97423,Les Trois-Bassins,7127,NaN,NaN,NaN,0,0,0
189,31554,97424,Cilaos,5350,NaN,NaN,NaN,0,0,0
190,31555,97501,Miquelon-Langlade,606,NaN,NaN,NaN,0,0,0

In [171]:
geonameid_scraping(match_uniques_nan)

0 cities done!
10 cities done!
20 cities done!
30 cities done!
40 cities done!
50 cities done!
60 cities done!
70 cities done!
80 cities done!
90 cities done!
100 cities done!
110 cities done!
error happened when checking Goyave
120 cities done!
130 cities done!
140 cities done!
150 cities done!
error happened when checking Régina
160 cities done!
170 cities done!
180 cities done!
190 cities done!

In [172]:
update_list = [3,6,7,20,25,28,30,31,39,45,48,49,55,56,85,86,89,100,114,131,138,142,151,154,166,171,186,189]

In [173]:
for i in update_list:
    match_uniques_nan.loc[i,'geonameid'] = match_uniques_nan.loc[i,'scraped_geonameid']

In [174]:
match_uniques_nan

,index,COM,NAME,POP_15,geonameid,name,asciiname,scraped_name,scraped_population,scraped_geonameid
0,0,01001,L' Abergement-Clémenciat,767,NaN,NaN,NaN,L'Abergement-Clémenciat,0,3011116
1,1,01002,L' Abergement-de-Varey,241,NaN,NaN,NaN,L'Abergement-de-Varey,0,3011114
2,608,02281,L' Épine-aux-Bois,265,NaN,NaN,NaN,L’Épine-aux-Bois,0,3002785
3,1389,04079,L' Escale,1408,3001631.0,NaN,NaN,L’Escale,1282,3001631
4,1400,04095,L' Hospitalet,89,NaN,NaN,NaN,L’Hospitalet-près-l’Andorre,0,2998554
5,1509,05006,L' Argentière-la-Bessée,2307,NaN,NaN,NaN,L’Argentière-la-Bessée,0,3006955
6,1609,05139,Dévoluy,994,2980230.0,NaN,NaN,Le Dévoluy,537,2980230
7,1693,06057,L' Escarène,2507,3001613.0,NaN,NaN,L’Escarène,2384,3001613
8,2195,08148,L' Écaille,259,NaN,NaN,NaN,L’Écaille,0,3004889
9,2196,08149,L' Échelle,131,NaN,NaN,NaN,L'Échelle,0,3004662
10,2477,09003,L' Aiguillon,420,NaN,NaN,NaN,LAiguillon-sur-Mer,0,3008668
11,2586,09138,L' Herm,204,NaN,NaN,NaN,L’Herm,0,2998623
12,2587,09139,L' Hospitalet-près-l'Andorre,89,NaN,NaN,NaN,L’Hospitalet-près-l’Andorre,0,2998554
13,3634,12115,L' Hospitalet-du-Larzac,289,NaN,NaN,NaN,L'Hospitalet-du-Larzac,0,2998555
14,4130,14334,L' Hôtellerie,311,NaN,NaN,NaN,L’Hôtellerie,0,2998551
15,4720,16166,L' Isle-d'Espagnac,5514,NaN,NaN,NaN,LIsle-dEspagnac,0,2998134
16,5027,17151,L' Éguille,879,NaN,NaN,NaN,L’Éguille,0,3003865
17,5055,17190,L' Houmeau,2830,NaN,NaN,NaN,L’Houmeau,0,2998548
18,5607,19074,L' Église-aux-Bois,57,NaN,NaN,NaN,L’Église-aux-Bois,0,3004086
19,6016,21254,L' Étang-Vergy,213,NaN,NaN,NaN,L’Étang-Vergy,0,2999280
20,6590,22203,Plœuc-L'Hermitage,4055,2986728.0,NaN,NaN,Plœuc-sur-Lié,3061,2986728
21,7617,25215,L' Écouvotte,93,NaN,NaN,NaN,L’Écouvotte,0,3004441
22,7697,25305,L' Hôpital-du-Grosbois,586,NaN,NaN,NaN,L’Hôpital-du-Grosbois,0,2998572
23,7698,25306,L' Hôpital-Saint-Lieffroy,108,NaN,NaN,NaN,L'Hôpital-Saint-Lieffroy,0,2998567
24,7707,25315,L' Isle-sur-le-Doubs,3078,NaN,NaN,NaN,L’Isle-sur-le-Doubs,0,2998126
25,8023,26051,Bézaudun-sur-Bîne,76,3032844.0,NaN,NaN,Bézaudun-sur-Bîne,60,3032844
26,8553,27309,L' Habit,517,NaN,NaN,NaN,L’Habit,0,2998636
27,8579,27341,L' Hosmes,76,NaN,NaN,NaN,L’Hosmes,0,2998559
28,9663,2B134,L' Île-Rousse,3159,2998330.0,NaN,NaN,L'Île-Rousse,2774,2998330
29,9910,30108,L' Estréchure,163,NaN,NaN,NaN,L’Estréchure,0,2999451
...,...,...,...,...,...,...,...,...,...,...
161,31526,97306,Mana,10241,NaN,NaN,NaN,Mana,5885,3381041
162,31527,97307,Matoury,32427,NaN,NaN,NaN,Le Dix-Septième,0,3381207
163,31528,97309,Remire-Montjoly,23976,NaN,NaN,NaN,Poupon,0,10311631
164,31529,97310,Roura,3713,NaN,NaN,NaN,Roura,2229,3380450
165,31530,97311,Saint-Laurent-du-Maroni,43600,NaN,NaN,NaN,Camp Lorrain,0,10372497
166,31531,97312,Sinnamary,2957,3380290.0,NaN,NaN,Sinnamary,3180,3380290
167,31532,97313,Montsinéry-Tonnegrande,2473,NaN,NaN,NaN,Tonnégrande,0,3380167
168,31533,97314,Ouanary,165,NaN,NaN,NaN,Ouanary,0,3380796
169,31534,97352,Saül,150,NaN,NaN,NaN,Bellevue,0,3382400
170,31535,97353,Maripasoula,11856,NaN,NaN,NaN,Maripasoula,0,3380994
171,31536,97356,Camopi,1769,3382226.0,NaN,NaN,Camopi,1295,3382226
172,31537,97357,Grand-Santi,6969,NaN,NaN,NaN,Ana Kondé,0,3382553
173,31538,97358,Saint-Élie,95,NaN,NaN,NaN,Rock Forest,35500,6126305
174,31539,97360,Apatou,8431,NaN,NaN,NaN,Apatou,4752,3382527
175,31540,97361,Awala-Yalimapo,1379,NaN,NaN,NaN,Coswine,0,3382012
176,31541,97362,Papaichton,7266,NaN,NaN,NaN,Papaïchton,0,3380743
177,31542,97401,Les Avirons,11148,NaN,NaN,NaN,Le Bois de Nèfles,0,11879303
178,31543,97402,Bras-Panon,12735,NaN,NaN,NaN,Îlet Payet,0,935760
179,31544,97403,Entre-Deux,6781,NaN,NaN,NaN,Entre-deux-Eaux,460,3020132
180,31545,97404,L' Étang-Salé,14330,NaN,NaN,NaN,Écorpain,349,3020454
181,31546,97405,Petite-Île,12143,NaN,NaN,NaN,Saint-Louis-de-France,0,6138661
182,31547,97406,La Plaine-des-Palmistes,6157,NaN,NaN,NaN,La Plaine-des-Palmistes,0,935694
183,31548,97408,La Possession,32720,NaN,NaN,NaN,Sainte-Thérèse,0,935244
184,31549,97413,Saint-Leu,33701,NaN,NaN,NaN,Saint-Leu-la-Forêt,16075,2978768
185,31550,97417,Saint-Philippe,5115,NaN,NaN,NaN,Saint-Philippe-du-Seignal,0,2977589
186,31551,97421,Salazie,7384,935210.0,NaN,NaN,Salazie,7696,935210
187,31552,97422,Le Tampon,76310,NaN,NaN,NaN,La Plaine des Cafres,0,935695
188,31553,97423,Les Trois-Bassins,7127,NaN,NaN,NaN,Bois de Nèfles,0,935666
189,31554,97424,Cilaos,5350,935975.0,NaN,NaN,Cilaos,6225,935975
190,31555,97501,Miquelon-Langlade,606,NaN,NaN,NaN,Le Ruisseau Debons,0,8614838

In [72]:
def geonameid_scraping(df):    
    api_key='AIzaSyDr1wlpuQrUd4fz26B-hi9SJh4cAFEXP_8'
    user_name = 'TerryYin1777'
    for i in range(df.shape[0]):#match_uniques_nan_joined.shape[0]):

        city_name = df.loc[i,'NAME']
        geocoding_url='https://maps.googleapis.com/maps/api/geocode/json?address='+city_name+',France'+'&key='+api_key

        try:
            geocoding_request = requests.get(geocoding_url)
            geocoding_results = geocoding_request.json()
            lat = geocoding_results['results'][0]['geometry']['location']['lat']
            long = geocoding_results['results'][0]['geometry']['location']['lng']

            geonameid_url = 'http://api.geonames.org/findNearbyPlaceNameJSON?lat='+str(lat)+'&lng='+str(long)+'&username='+user_name
            geonameid_request = requests.get(geonameid_url)
            results_geoid = geonameid_request.json()
            matched_name = results_geoid['geonames'][0]['name']
            population = results_geoid['geonames'][0]['population']
            geonameid = results_geoid['geonames'][0]['geonameId']

            df.loc[i,['scraped_name','scraped_population','scraped_geonameid']] = [matched_name,population,geonameid]

        except:
            print('error happened when checking {}'.format(city_name))

        if i % 10 == 0:
            print(i, 'cities done!')

In [13]:
france_dups = france[france['name'].duplicated(keep = False)]

In [14]:
Census_dups['NAME'].nunique()

1504

In [15]:
france_dups['name'].nunique()

1499

In [16]:
len(list(set(Census_dups['NAME']).intersection(france_dups['name'])))

1495

In [17]:
#france_dups[france_dups['name'].isin(Census_dups['NAME'].unique())]

In [18]:
common_unique_cities = list(set(Census_dups['NAME']).intersection(france_dups['name']))

In [19]:
#census_unique_sub = pd.DataFrame(columns = ['COM','NAME','POP_15'])
count = 0
for c in common_unique_cities:
    #print(c)
    census_sub = Census_dups[Census_dups['NAME']==c]
    census_sub_indexes = census_sub.index
    census_sub_len = len(census_sub_indexes)
    #print(census_sub_indexes)
    
    france_sub = france_dups[france_dups['name']==c]
    france_sub_indexes = france_sub.index
    france_sub_len = len(france_sub_indexes)
    
    if census_sub_len == 0 or france_sub_len == 0:
        continue
    else:
        to_be_encoded = np.min([census_sub_len,france_sub_len])
        
    for i in range(to_be_encoded):
        #print(to_be_encoded)
        census_sub_index = census_sub_indexes[i]
        france_sub_index = france_sub_indexes[i]
        #print(census_sub_index)
        Census_dups.loc[census_sub_index,'NAME'] = Census_dups.loc[census_sub_index,'NAME']+'_'+str(i)
        france_dups.loc[france_sub_index,'name'] = france_dups.loc[france_sub_index,'name']+'_'+str(i) 
        
    count += 1
    if count % 50 == 0:
        print('{} done!'.format(count))

//anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

50 done!
100 done!
150 done!
200 done!
250 done!
300 done!
350 done!
400 done!
450 done!
500 done!
550 done!
600 done!
650 done!
700 done!
750 done!
800 done!
850 done!
900 done!
950 done!
1000 done!
1050 done!
1100 done!
1150 done!
1200 done!
1250 done!
1300 done!
1350 done!
1400 done!
1450 done!

In [21]:
france_dups.to_csv('france_dups.csv')

In [22]:
Census_dups.to_csv('Census_dups.csv')

In [23]:
census_dups_joined=pd.merge(Census_dups,france_dups,how = 'left',left_on='NAME',right_on='name')

In [31]:
census_dups_joined = census_dups_joined[list(census_dups_joined.columns[:5])]

In [33]:
census_dups_joined.sort_values(by = 'NAME')

        COM            NAME  POP_15  geonameid            name
2467  59001     Abancourt_0     459  6613159.0     Abancourt_0
2491  60001     Abancourt_1     647  6452420.0     Abancourt_1
2298  54003     Aboncourt_0     104  6455366.0     Aboncourt_0
2387  57001     Aboncourt_1     363  6613334.0     Aboncourt_1
645   16001         Abzac_0     478  6452259.0         Abzac_0
1435  33001         Abzac_1    1914  6452155.0         Abzac_1
795   18001       Achères_0     378  6614036.0       Achères_0
3248  78005       Achères_1   21053  6455373.0       Achères_1
190   04001        Aiglun_0    1384  6618157.0        Aiglun_0
249   06001        Aiglun_1      86  6618050.0        Aiglun_1
1237  30002     Aigremont_0     755  6452243.0     Aigremont_0
2229  52002     Aigremont_1      19  6452531.0     Aigremont_1
3249  78007     Aigremont_2    1106  6455380.0     Aigremont_2
3687  89002     Aigremont_3      77  6452377.0     Aigremont_3
2676  63001    Aigueperse_0    2709  6613163.0    Aigueperse_0
2853  69002    Aigueperse_1     253  6452444.0    Aigueperse_1
372   09002  Aigues-Vives_0     649  6455352.0  Aigues-Vives_0
463   11001  Aigues-Vives_1     568  6616426.0  Aigues-Vives_1
1238  30004  Aigues-Vives_2    3211  6452111.0  Aigues-Vives_2
1524  34007  Aigues-Vives_3     468  6613239.0  Aigues-Vives_3
2886  70008      Ainvelle_0     150  6452492.0      Ainvelle_0
3633  88004      Ainvelle_1     160  6452583.0      Ainvelle_1
839   19002           Aix_0     385  6455368.0           Aix_0
2468  59004           Aix_1    1149  6452171.0           Aix_1
43    02009    Alaincourt_0     549  6450773.0    Alaincourt_0
2887  70010    Alaincourt_1     113  6618108.0    Alaincourt_1
464   11006         Albas_0      76  6452337.0         Albas_0
1959  46001         Albas_1     522  6452126.0         Albas_1
1300  31006        Albiac_0     205  6614040.0        Albiac_0
1960  46002        Albiac_1      79  6616457.0        Albiac_1
...     ...             ...     ...        ...             ...
1958  45347        Vrigny_0     841  6436113.0        Vrigny_0
2228  51657        Vrigny_1     214  6434764.0        Vrigny_1
641   15255         Vézac_0    1176  6615955.0         Vézac_0
1050  24577         Vézac_1     613  6429681.0         Vézac_1
371   08497         Warcq_0    1289  6426175.0         Warcq_0
2368  55578         Warcq_1     215  6437273.0         Warcq_1
2675  62878        Warlus_0     374  6444816.0        Warlus_0
3408  80821        Warlus_1     226  6439964.0        Warlus_1
891   21240    Échevannes_0     260  6616213.0    Échevannes_0
1070  25211    Échevannes_1      89  6428608.0    Échevannes_1
1139  27217     Émanville_0     595  6614880.0     Émanville_0
3140  76234     Émanville_1     697  6613886.0     Émanville_1
70    02277        Épagny_0     334  6453517.0        Épagny_0
892   21245        Épagny_1     319  6428613.0        Épagny_1
71    02280        Épieds_0     384  6424889.0        Épieds_0
1140  27220        Épieds_1     365  6435209.0        Épieds_1
2090  49131        Épieds_2     738  6430363.0        Épieds_2
735   17155       Étaules_0    2379  6453771.0       Étaules_0
893   21255       Étaules_1     266  6427949.0       Étaules_1
2630  62319     Éterpigny_0     256  6439514.0     Éterpigny_0
3352  80294     Éterpigny_1     176  6444422.0     Éterpigny_1
813   18090       Étréchy_0     454  6454877.0       Étréchy_0
2176  51239       Étréchy_1     108  6435808.0       Étréchy_1
3785  91226       Étréchy_2    6517  6616033.0       Étréchy_2
73    02297     Étrépilly_0     107  6424901.0     Étrépilly_0
3208  77173     Étrépilly_1     880  6443653.0     Étrépilly_1
3709  89162          Évry_0     388  6454855.0          Évry_0
3786  91228          Évry_1   53871  6454878.0          Évry_1
109   02565        Œuilly_0     289  6614906.0        Œuilly_0
2197  51410        Œuilly_1     621  6618091.0        Œuilly_1

[3866 rows x 5 columns]

In [47]:
census_dups_joined_nan = census_dups_joined.loc[(census_dups_joined['geonameid'].isnull()) & (census_dups_joined['POP_15']>1000),:]

In [48]:
census_dups_joined_nan.loc[:,'scraped_name']=0
census_dups_joined_nan.loc[:,'scraped_population']=0
census_dups_joined_nan.loc[:,'scraped_geonameid']=0

//anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [53]:
census_dups_joined_nan = census_dups_joined_nan.reset_index()

In [73]:
geonameid_scraping(census_dups_joined_nan)

0 cities done!
10 cities done!
20 cities done!
30 cities done!

In [58]:
def manually_check(i,geoid):
    census_dups_joined_nan.loc[i,'geonameid'] = geoid
    census_dups_joined_nan.loc[i,'checked'] = 1

In [87]:
manually_check(26,3424932)

In [88]:
census_dups_joined_nan

,index,COM,NAME,POP_15,geonameid,name,scraped_name,scraped_population,scraped_geonameid,checked
0,1381,32160,L' Isle-Jourdain,8568,6614303.0,NaN,L’Isle-Jourdain,0,2998130,1.0
1,1766,39478,Saint-Claude,9732,2981077.0,NaN,Saint-Claude,12418,2981077,1.0
2,2377,56181,Port-Louis,2621,6437350.0,NaN,Port-Louis,3020,2985963,1.0
3,3353,80296,L' Étoile,1253,NaN,NaN,L’Étoile,0,2999152,NaN
4,3547,85083,L' Épine,1654,NaN,NaN,L’Épine,635,3002787,NaN
5,3594,86112,L' Isle-Jourdain,1156,2998130.0,NaN,L’Isle-Jourdain,0,2998130,1.0
6,3839,97122,Port-Louis,5840,2985963.0,NaN,Port-Louis,3020,2985963,1.0
7,3840,97124,Saint-Claude,10299,2981077.0,NaN,Saint-Claude,12418,2981077,1.0
8,3841,97126,Saint-Louis,2477,6441606.0,NaN,Saint-Louis,20871,2978742,1.0
9,3842,97128,Sainte-Anne,24379,NaN,NaN,Sainte-Anne,287,2980776,NaN
10,3843,97129,Sainte-Rose,19899,NaN,NaN,Champ-Fleuri,0,5919664,NaN
11,3844,97224,Saint-Joseph,16494,NaN,NaN,Saint-Joseph,1772,2979170,NaN
12,3845,97225,Saint-Pierre,4177,NaN,NaN,Village de l’Anse du Gouvernement,0,8609303,NaN
13,3846,97226,Sainte-Anne,4264,NaN,NaN,Sainte-Anne,287,2980776,NaN
14,3847,97227,Sainte-Luce,9943,2980488.0,NaN,Sainte-Luce-sur-Loire,13056,2980488,1.0
15,3848,97228,Sainte-Marie,16658,NaN,NaN,Moustiers-Sainte-Marie,668,2991346,NaN
16,3849,97230,La Trinité,12771,3006152.0,NaN,La Trinité,10128,3006152,1.0
17,3850,97234,Bellefontaine,1619,NaN,NaN,Bellefontaine,141,3033707,NaN
18,3851,97308,Saint-Georges,4020,2989837.0,NaN,Nuits-Saint-Georges,5300,2989837,1.0
19,3852,97407,Le Port,35280,NaN,NaN,Le Port,189,3002558,NaN
20,3853,97409,Saint-André,55730,NaN,NaN,Sant Andreu de Sureda,2757,2981788,NaN
21,3854,97410,Saint-Benoît,37940,NaN,NaN,Saint-Benoît-du-Sault,770,2981398,NaN
22,3855,97411,Saint-Denis,146985,6455341.0,NaN,Saint-Denis,96128,2980916,1.0
23,3856,97412,Saint-Joseph,37608,NaN,NaN,Saint-Joseph,1772,2979170,NaN
24,3857,97414,Saint-Louis,53524,NaN,NaN,Saint-Louis,20871,2978742,NaN
25,3858,97415,Saint-Paul,105967,6618143.0,NaN,Saint-Paul-de-Vence,2984,2977701,1.0
26,3859,97416,Saint-Pierre,84063,3424932.0,NaN,Village de l’Anse du Gouvernement,0,8609303,1.0
27,3860,97418,Sainte-Marie,32940,NaN,NaN,Moustiers-Sainte-Marie,668,2991346,NaN
28,3861,97419,Sainte-Rose,6621,NaN,NaN,Champ-Fleuri,0,5919664,NaN
29,3862,97420,Sainte-Suzanne,23068,NaN,NaN,Sainte-Suzanne,1059,2980304,NaN
30,3863,97502,Saint-Pierre,5415,NaN,NaN,Village de l’Anse du Gouvernement,0,8609303,NaN
31,3864,97701,Saint-Barthélemy,9625,NaN,NaN,Anse des Flamands,0,3579785,NaN
32,3865,97801,Saint-Martin,35684,6984597.0,NaN,Paradis,0,6984597,1.0

In [103]:
census_dups_joined_nan[census_dups_joined_nan['geonameid'].isin(census_dups_joined['geonameid'])]

,COM,NAME,POP_15,checked,geonameid,index,name,scraped_geonameid,scraped_name,scraped_population
3,80296,L' Étoile,1253,NaN,NaN,3353.0,NaN,2999152,L’Étoile,0
4,85083,L' Épine,1654,NaN,NaN,3547.0,NaN,3002787,L’Épine,635
8,97126,Saint-Louis,2477,1.0,6441606.0,3841.0,NaN,2978742,Saint-Louis,20871
9,97128,Sainte-Anne,24379,NaN,NaN,3842.0,NaN,2980776,Sainte-Anne,287
10,97129,Sainte-Rose,19899,NaN,NaN,3843.0,NaN,5919664,Champ-Fleuri,0
11,97224,Saint-Joseph,16494,NaN,NaN,3844.0,NaN,2979170,Saint-Joseph,1772
12,97225,Saint-Pierre,4177,NaN,NaN,3845.0,NaN,8609303,Village de l’Anse du Gouvernement,0
13,97226,Sainte-Anne,4264,NaN,NaN,3846.0,NaN,2980776,Sainte-Anne,287
15,97228,Sainte-Marie,16658,NaN,NaN,3848.0,NaN,2991346,Moustiers-Sainte-Marie,668
17,97234,Bellefontaine,1619,NaN,NaN,3850.0,NaN,3033707,Bellefontaine,141
19,97407,Le Port,35280,NaN,NaN,3852.0,NaN,3002558,Le Port,189
20,97409,Saint-André,55730,NaN,NaN,3853.0,NaN,2981788,Sant Andreu de Sureda,2757
21,97410,Saint-Benoît,37940,NaN,NaN,3854.0,NaN,2981398,Saint-Benoît-du-Sault,770
22,97411,Saint-Denis,146985,1.0,6455341.0,3855.0,NaN,2980916,Saint-Denis,96128
23,97412,Saint-Joseph,37608,NaN,NaN,3856.0,NaN,2979170,Saint-Joseph,1772
24,97414,Saint-Louis,53524,NaN,NaN,3857.0,NaN,2978742,Saint-Louis,20871
27,97418,Sainte-Marie,32940,NaN,NaN,3860.0,NaN,2991346,Moustiers-Sainte-Marie,668
28,97419,Sainte-Rose,6621,NaN,NaN,3861.0,NaN,5919664,Champ-Fleuri,0
29,97420,Sainte-Suzanne,23068,NaN,NaN,3862.0,NaN,2980304,Sainte-Suzanne,1059
30,97502,Saint-Pierre,5415,NaN,NaN,3863.0,NaN,8609303,Village de l’Anse du Gouvernement,0
31,97701,Saint-Barthélemy,9625,NaN,NaN,3864.0,NaN,3579785,Anse des Flamands,0
225,05048,L' Épine,192,NaN,NaN,NaN,NaN,0,0,0
412,09231,Le Port,150,NaN,NaN,NaN,NaN,0,0,0
1709,38414,Sainte-Luce,43,NaN,NaN,NaN,NaN,0,0,0
1741,39217,L' Étoile,561,NaN,NaN,NaN,NaN,0,0,0
2175,51231,L' Épine,599,NaN,NaN,NaN,NaN,0,0,0
2278,53027,Beaumont-Pied-de-Bœuf,187,NaN,NaN,NaN,NaN,0,0,0
3030,72028,Beaumont-Pied-de-Bœuf,483,NaN,NaN,NaN,NaN,0,0,0

In [101]:
census_dups_joined_nan = pd.concat([census_dups_joined_nan,census_dups_joined.loc[(census_dups_joined['geonameid'].isnull()) & (census_dups_joined['POP_15']<=1000),:]])

In [102]:
census_dups_joined_nan

,COM,NAME,POP_15,checked,geonameid,index,name,scraped_geonameid,scraped_name,scraped_population
0,32160,L' Isle-Jourdain,8568,1.0,6614303.0,1381.0,NaN,2998130,L’Isle-Jourdain,0
1,39478,Saint-Claude,9732,1.0,2981077.0,1766.0,NaN,2981077,Saint-Claude,12418
2,56181,Port-Louis,2621,1.0,6437350.0,2377.0,NaN,2985963,Port-Louis,3020
3,80296,L' Étoile,1253,NaN,NaN,3353.0,NaN,2999152,L’Étoile,0
4,85083,L' Épine,1654,NaN,NaN,3547.0,NaN,3002787,L’Épine,635
5,86112,L' Isle-Jourdain,1156,1.0,2998130.0,3594.0,NaN,2998130,L’Isle-Jourdain,0
6,97122,Port-Louis,5840,1.0,2985963.0,3839.0,NaN,2985963,Port-Louis,3020
7,97124,Saint-Claude,10299,1.0,2981077.0,3840.0,NaN,2981077,Saint-Claude,12418
8,97126,Saint-Louis,2477,1.0,6441606.0,3841.0,NaN,2978742,Saint-Louis,20871
9,97128,Sainte-Anne,24379,NaN,NaN,3842.0,NaN,2980776,Sainte-Anne,287
10,97129,Sainte-Rose,19899,NaN,NaN,3843.0,NaN,5919664,Champ-Fleuri,0
11,97224,Saint-Joseph,16494,NaN,NaN,3844.0,NaN,2979170,Saint-Joseph,1772
12,97225,Saint-Pierre,4177,NaN,NaN,3845.0,NaN,8609303,Village de l’Anse du Gouvernement,0
13,97226,Sainte-Anne,4264,NaN,NaN,3846.0,NaN,2980776,Sainte-Anne,287
14,97227,Sainte-Luce,9943,1.0,2980488.0,3847.0,NaN,2980488,Sainte-Luce-sur-Loire,13056
15,97228,Sainte-Marie,16658,NaN,NaN,3848.0,NaN,2991346,Moustiers-Sainte-Marie,668
16,97230,La Trinité,12771,1.0,3006152.0,3849.0,NaN,3006152,La Trinité,10128
17,97234,Bellefontaine,1619,NaN,NaN,3850.0,NaN,3033707,Bellefontaine,141
18,97308,Saint-Georges,4020,1.0,2989837.0,3851.0,NaN,2989837,Nuits-Saint-Georges,5300
19,97407,Le Port,35280,NaN,NaN,3852.0,NaN,3002558,Le Port,189
20,97409,Saint-André,55730,NaN,NaN,3853.0,NaN,2981788,Sant Andreu de Sureda,2757
21,97410,Saint-Benoît,37940,NaN,NaN,3854.0,NaN,2981398,Saint-Benoît-du-Sault,770
22,97411,Saint-Denis,146985,1.0,6455341.0,3855.0,NaN,2980916,Saint-Denis,96128
23,97412,Saint-Joseph,37608,NaN,NaN,3856.0,NaN,2979170,Saint-Joseph,1772
24,97414,Saint-Louis,53524,NaN,NaN,3857.0,NaN,2978742,Saint-Louis,20871
25,97415,Saint-Paul,105967,1.0,6618143.0,3858.0,NaN,2977701,Saint-Paul-de-Vence,2984
26,97416,Saint-Pierre,84063,1.0,3424932.0,3859.0,NaN,8609303,Village de l’Anse du Gouvernement,0
27,97418,Sainte-Marie,32940,NaN,NaN,3860.0,NaN,2991346,Moustiers-Sainte-Marie,668
28,97419,Sainte-Rose,6621,NaN,NaN,3861.0,NaN,5919664,Champ-Fleuri,0
29,97420,Sainte-Suzanne,23068,NaN,NaN,3862.0,NaN,2980304,Sainte-Suzanne,1059
30,97502,Saint-Pierre,5415,NaN,NaN,3863.0,NaN,8609303,Village de l’Anse du Gouvernement,0
31,97701,Saint-Barthélemy,9625,NaN,NaN,3864.0,NaN,3579785,Anse des Flamands,0
32,97801,Saint-Martin,35684,1.0,6984597.0,3865.0,NaN,6984597,Paradis,0
225,05048,L' Épine,192,NaN,NaN,NaN,NaN,0,0,0
412,09231,Le Port,150,NaN,NaN,NaN,NaN,0,0,0
1709,38414,Sainte-Luce,43,NaN,NaN,NaN,NaN,0,0,0
1741,39217,L' Étoile,561,NaN,NaN,NaN,NaN,0,0,0
2175,51231,L' Épine,599,NaN,NaN,NaN,NaN,0,0,0
2278,53027,Beaumont-Pied-de-Bœuf,187,NaN,NaN,NaN,NaN,0,0,0
3030,72028,Beaumont-Pied-de-Bœuf,483,NaN,NaN,NaN,NaN,0,0,0

In [118]:
census_dups_joined[census_dups_joined['NAME'].str.startswith('Saint-Louis')]

,COM,NAME,POP_15,geonameid,name,scraped_name,scraped_population,scraped_geonameid
2418,57618,Saint-Louis_0,663,NaN,Saint-Louis_0,0,0,0
2852,68297,Saint-Louis_1,20401,6441606.0,Saint-Louis_1,0,0,0
3841,97126,Saint-Louis,2477,NaN,NaN,0,0,0
3857,97414,Saint-Louis,53524,6454371.0,NaN,0,0,0

In [117]:
census_dups_joined.loc[(census_dups_joined['NAME']=='Saint-Louis') & (census_dups_joined['POP_15']==53524),'geonameid'] = 6454371

//anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [178]:
match_uniques = match_uniques[match_uniques['geonameid'].notnull()]

In [180]:
match_uniques.shape[0] + match_uniques_nan.shape[0] + census_dups_joined.shape[0] + census_dups_joined_nan.shape[0]

35422

In [175]:
match_uniques_nan.head()

,index,COM,NAME,POP_15,geonameid,name,asciiname,scraped_name,scraped_population,scraped_geonameid
0,0,01001,L' Abergement-Clémenciat,767,NaN,NaN,NaN,L'Abergement-Clémenciat,0,3011116
1,1,01002,L' Abergement-de-Varey,241,NaN,NaN,NaN,L'Abergement-de-Varey,0,3011114
2,608,02281,L' Épine-aux-Bois,265,NaN,NaN,NaN,L’Épine-aux-Bois,0,3002785
3,1389,04079,L' Escale,1408,3001631.0,NaN,NaN,L’Escale,1282,3001631
4,1400,04095,L' Hospitalet,89,NaN,NaN,NaN,L’Hospitalet-près-l’Andorre,0,2998554

In [179]:
match_uniques.head()

,COM,NAME,POP_15,geonameid,name,asciiname
2,01004,Ambérieu-en-Bugey,14127,6618079.0,Ambérieu-en-Bugey,Amberieu-en-Bugey
3,01005,Ambérieux-en-Dombes,1619,6452069.0,Ambérieux-en-Dombes,Amberieux-en-Dombes
4,01006,Ambléon,109,6452070.0,Ambléon,Ambleon
5,01007,Ambronay,2615,6452071.0,Ambronay,Ambronay
6,01008,Ambutrix,747,6452072.0,Ambutrix,Ambutrix

In [152]:
#census_dups_joined = census_dups_joined[census_dups_joined['geonameid'].notnull()]

In [154]:
census_dups_joined.head()

,COM,NAME,POP_15,geonameid,name,scraped_name,scraped_population,scraped_geonameid
0,01011,Apremont_0,390,6452566.0,Apremont_0,0,0,0
1,01027,Balan_0,2997,6446375.0,Balan_0,0,0,0
2,01030,Beauregard_0,889,6613027.0,Beauregard_0,0,0,0
3,01039,Béon_0,475,6455326.0,Béon_0,0,0,0
4,01042,Bey_0,271,6424409.0,Bey_0,0,0,0

In [155]:
census_dups_joined_nan.head()

,COM,NAME,POP_15,checked,geonameid,index,name,scraped_geonameid,scraped_name,scraped_population
0,32160,L' Isle-Jourdain,8568,1.0,6614303.0,1381.0,NaN,2998130,L’Isle-Jourdain,0
1,39478,Saint-Claude,9732,1.0,2981077.0,1766.0,NaN,2981077,Saint-Claude,12418
2,56181,Port-Louis,2621,1.0,6437350.0,2377.0,NaN,2985963,Port-Louis,3020
3,80296,L' Étoile,1253,NaN,NaN,3353.0,NaN,2999152,L’Étoile,0
4,85083,L' Épine,1654,NaN,NaN,3547.0,NaN,3002787,L’Épine,635

In [181]:
keep = ['COM','NAME','POP_15','geonameid']

In [185]:
output = pd.DataFrame(columns = keep)

In [186]:
output = pd.concat([output,match_uniques[keep],match_uniques_nan[keep],census_dups_joined[keep],census_dups_joined_nan[keep]])

In [217]:
output.to_csv('census_with_geonamesid.csv',encoding='utf-8-sig')

In [212]:
output.loc[output['NAME'].str.contains(r'_\d'),'NAME'] = output.loc[output['NAME'].str.contains(r'_\d'),'NAME'].apply(lambda x: x[:-2])

In [216]:
output.loc[output['NAME'].str.contains(r'_\d'),'NAME']

Series([], Name: NAME, dtype: object)

In [18]:
output = pd.read_csv('census_with_geonamesid.csv',index_col=0)

In [19]:
output = output.reset_index(drop=True)

In [23]:
output_joined = pd.merge(output,france,how = 'left',on = 'geonameid')

In [36]:
to_keep = list(output_joined.columns[:4])+['feature_code']

In [ ]:
output_joined = output_joined[to_keep]

In [51]:
output_joined['feature_code'].value_counts()

ADM4     35196
PPL         23
PPLA3        4
PPLA4        1
Name: feature_code, dtype: int64

In [54]:
output_joined[output_joined['feature_code']=='PPLA4']

         COM     NAME  POP_15    geonameid feature_code
31371  05139  Dévoluy     994  2.98023e+06        PPLA4

In [45]:
to_check = list(france[france['feature_code']=='ADM2']['name'])

In [48]:
Census_2015[Census_2015['NAME'].isin(to_check)]

         COM     NAME  POP_15
5811   17202   Landes     612
8679   25204    Doubs    2888
14701  38544   Vienne   29162
19603  53147  Mayenne   13016
31644  80225   Creuse     190

In [58]:
output_joined.loc[output_joined['NAME'].isin(to_check),'feature_code'] = 'ADM2'

In [59]:
output_joined['feature_code'].value_counts()

ADM4     35191
PPL         23
ADM2         5
PPLA3        4
PPLA4        1
Name: feature_code, dtype: int64

In [63]:
output_joined.rename({'feature_code':'Department/feature_code'},inplace=True,axis = 1)

In [65]:
output_joined.to_csv('census_with_geonamesid_v2.csv',encoding='utf-8-sig')